# --------------------------
# macOS junk
# --------------------------
.DS_Store
**/.DS_Store

# --------------------------
# Python cache
# --------------------------
__pycache__/
**/__pycache__/
*.pyc

# --------------------------
# Virtual environments
# --------------------------
.venv/
env/
*.env

# --------------------------
# VSCode config (optional)
# --------------------------
.vscode/

# --------------------------
# Build / temp artifacts
# --------------------------
*.log